<div id="textoCapitulo">
<h2>Examples</h2>

	There are plenty of sample applications using Restfulie Ruby scattered around the web, and here you find a small listing of those systems:<br/>
<ol>
	<li><a href="https://github.com/caelum/restfulie-restbuy">Restbuy</a> - a service application that allows consumers to buy products and share payments. You can see all the power of hypermedia in place. The client code is contained in the spec folder. Ruby examples.</li>
	<li><a href="https://github.com/caelum/restfulie-provisioning">Restfulie provisioning</a> - a provisioning example. Ruby code.</li>
	<li><a href="http://restfulie.caelumobjects.com/caelumobjects-restful-rails.pdf">A guide on how to create a Restfulie project</a></li>
	<li><a href="https://github.com/caelum/vraptor/tree/master/vraptor-mydvds">Mydvds</a> - controls a list of dvds, owners, security and so on. Java code</li>
</ol>

<h2>Java blank projects</h2>

VRaptor, restfulie server side in Java (the oldest and more mature of all versions), <a href="https://github.com/caelum/vraptor/tree/master/">contains a few blank projects for default usage, scala usage or google app engine support</a>. One can also use <a href="http://vraptor.org/documentation">its vraptor-scaffold feature</a>.

<h2>Source code - all versions</h2>

All restfulie versions can be found in several different git repositories:

<ul>
	<li><a href="http://github.com/caelum/restfulie-all">All projects in one github project</li>
	<li><a href="http://github.com/caelum/restfulie">Ruby client and server</li>
	<li><a href="http://github.com/caelum/restfulie-java">Java client</li>
	<li><a href="http://github.com/caelum/vraptor">Java server (vraptor)</li>
	<li><a href="http://github.com/caelum/restfulie-javascript">Javascript client</li>
	<li><a href="http://github.com/caelum/restfulie-py">Python client</li>
	<li><a href="https://github.com/mauricioaniche/restfulie.net">C# server</li>
</ul>
</div>