<h1>Listing baskets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @baskets.each do |basket| %>
  <tr>
    <td><%= link_to 'Show', basket %></td>
    <td><%= link_to 'Edit', edit_basket_path(basket) %></td>
    <td><%= link_to 'Destroy', basket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Basket', new_basket_path %>
