<div id="contentWrap">
	<!--<ul id="subMenu"><li><a href="#beneficios">Beneficios</a></li><li>|</li><li><a href="#depoimentos">Depoimentos</a></li></ul>-->          <div id="contentBeneficios">                                                                                                                                          
		<a rel="nofollow" name="depoimentos"></a>
        <h2>Testimonials</h2>
		<h3>What has been said about Restfulie in public</h3>
        
        <div class="depoimentoClientes">
        	<p>For what it's worth, this is the best approach to REST I've seen, and I am loving trying this out. I had been thinking of something similar (but not quite so elegant) previously, so it's nice to see it "in the flesh," as it were. :) Great job!</p>
        	<em><a href="http://wizardsofsmart.net/">Ryan Riley</a>, restfulie ruby's mailing list</em>
		</div>


        <div class="depoimentoClientes">            	
        <p>	I hope Restfulie's creators will be offered a seat on the JSR for JAX-RS 2.0 so that it can earn the “R” in its acronym. And if a mature Ruby version of Restfulie makes it into Rails at some point, that would be nice too.
		.</p>
        	<em><a href="http://jim.webber.name/2009/12/03/2f984a12-6a47-4d91-8693-de82b6f890c4.aspx">Jim Webber</a></em>                 
        </div><!-- depoimento -->
        
        <div class="depoimentoClientes">
        	<p>I think that Restfulie beautifully captures the hypermedia concepts and helps developers build hypermedia applications.
			I can’t wait for our book to become available so that more people can read about our take towards REST and hypermedia when building distributed applications. As everything else that we’ve done, I am expecting some controversy, which is good (TM) :-).</p>
        	<em><a href="http://savas.me/blog/1054">Savas Parastatidis</a></em>                
        </div>

  
     <div class="depoimentoClientes">
     	<p>I see a lot of the strength in what you're doing as being a dedicated focus on hypermedia. We've had some interesting feedback on the book that suggests that hypermedia-driven processes - which is where you and we are concentrating our efforts - will never be mainstream. I see Restfulie as countering this opinion: hypermedia is not alien; it's a practical, expressive way of building rich business applications - and it's achievable in many of our favourite languages. 

		Restfulie has quite rightly generated a lot of commentary. There's a real pleasure in being able to participate in this - the larger community's attitude is changing precisely because of Restfulie's proofs.

		Restfulie is a provocation. This is the engine of thought and innovation. Software is a social phenomenon: if we have a part, it's made more relevant by your contributions.</p>
     	<em><a href="http://iansrobinson.com/">Ian Robinson</a></em>                
     </div>

     <div class="depoimentoClientes">
     	<p>Drove @caueguerra home and told him to rest well... Coding on Restfulie was not what I meant.</p>
     	<em><a href="http://twitter.com/cecifernandes/status/7735649798">Cecilia Fernandes</a>, Caelum</em>                
     </div>


<!--        <div class="depoimentoClientes">
        	<p>@jimwebber @restfulie at any event, I think that a restfulie like standardized media type manipulation is worth adding to RESTEasy.</p>
        	<em><a href="http://twitter.com/sduskis/statuses/6309892789">Solomon Duskis</a></em>                
        </div>-->

<br/>   
                       
    </div><!-- contentBeneficios -->
</div><!-- content wrap-->