<style>
pre { font-size 11px; color: #666; margin-bottom: 10px; margin-top: 10px; font-family: 'Courier New', 'Courier';}
h3 { margin-top: 20px; font-size: 20px !important;}
</style>

<div id="contentWrap">
<div id="contentBeneficios">                                                                                                                                          
	<a rel="nofollow" name="what_is_rest"></a>
	<h2>Documentation</h2>
	<h3></h3>

	<p>

		Restfulie has been ported to several different languages and its documentation can be found through the following links:<br/><br/>
		
		<h3>Ruby</h3><a href="<%=url_for :controller => :ruby, :action => :index %>">Client and server documentation available.</a><br/><br/>
		
		<h3>Java</h3><a href="http://vraptor.caelum.com.br/documentation">Client and server supported through VRaptor.</a><br/><br/>
		
		<h3>C#</h3><a href="<%=url_for :csharp%>">Client supported alone and server through aspnet-mvc.</a><br/><br/>
		
		<h3>Javascript</h3><a href="<%=url_for :controller => :javascript%>">Client documentation available.</a><br/><br/>

<br/><br/><br/><br/>
</p>
</div>
</div>