<div id="contentWrap">

	Client side
	<table>
		<thead>
			<tr>
				<th>Feature set</th>
				<th>Java</th>
				<th>C#</th>
				<th>Ruby</th>
				<th>Javascript</th>
				<th>Python</th>
			</tr>
		</thead>
		<tr>
			<td>Http verbs + patch</td>
			<td>yes</td>
			<td>yes</td>
			<td>yes</td>
			<td>yes</td>
			<td>?</td>
		</tr>
		<tr>
			<td>Client content negotiation</td>
			<td>yes</td>
			<td>?</td>
			<td>yes</td>
			<td>?</td>
			<td>?</td>
		</tr>
		<tr>
			<td>Media types</td>
			<td>json, xml</td>
			<td>json, xml</td>
			<td>json, xml, atom, opensearch, custom</td>
			<td>json, xml</td>
			<td>json, xml</td>
		</tr>
		<tr>
			<td>Media type profile</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<!--
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		-->
	</table>
	
	<br/><br/>
	Server side
	<table>
		<thead>
			<tr>
				<th>Feature set</th>
				<th>Java</th>
				<th>C#</th>
				<th>Ruby</th>
			</tr>
		</thead>
		<tr>
			<td>Http verbs + patch</td>
			<td>yes</td>
			<td>yes</td>
			<td>yes</td>
		</tr>
		<tr>
			<td>Server content negotiation</td>
			<td>yes</td>
			<td>?</td>
			<td>yes</td>
		</tr>
		<tr>
			<td>Media types</td>
			<td>json, xml</td>
			<td>json, xml</td>
			<td>json, xml, atom, opensearch, custom</td>
		</tr>
		<tr>
			<td>Media type profile</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<!--
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		-->
	</table>
	
</div>