<div id="contentWrap">
	
	<table>
		<thead>
			<tr>
				<th>Feature set</th>
				<th>Java</th>
				<th>C#</th>
				<th>Ruby</th>
				<th>Javascript</th>
				<th>Python</th>
			</tr>
		</thead>
		<tr>
			<td>Http verbs + patch</td>
			<td>yes</td>
			<td>yes</td>
			<td>yes</td>
			<td>yes</td>
			<td></td>
		</tr>
		<!--
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		-->
	</table>
	
</div>