<div id="contentWrap">
	<!--<ul id="subMenu"><li><a href="#beneficios">Beneficios</a></li><li>|</li><li><a href="#depoimentos">Depoimentos</a></li></ul>-->          <div id="contentBeneficios">                                                                                                                                          
		<a rel="nofollow" name="what_is_rest"></a>
        <h2>Quit pretending</h2>
		<h3>Painful maintenance?</h3>
        
        <div class="depoimentoClientes">
        	<p>We all have been through it. Whenever some minimal changes are made in your service, all your clients break, and they are already complaining.</p>
        	<p>In other situations, someone else "rest" or web service change, you suffer. It's time for you to complain with them and ask them about moving to a real rest based architecture.</p>
		</div>

		<h3>REST from scratch</h3>
        
        <div class="depoimentoClientes">
        	<p>The <a href="http://www.vimeo.com/user1362352/videos">REST from scratch series</a> and <a href="http://restfulie.caelum.com.br/caelumobjects-restful-rails.pdf">guide</a> goes through a set of steps you can follow to improve your services and clients. The following video is a 5 minute explanation on what we can achieve:<br/>
	
	<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=12079275&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=12079275&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object><p><a href="http://vimeo.com/12079275">Rest Business Process introduction</a> from <a href="http://vimeo.com/user1362352">Caelum</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
	
	
	</p>
		</div>
        
        
<br/>                             
    </div><!-- contentBeneficios -->

				<a rel="nofollow" name="what_is_rest"></a>
		        <h2>REST? HATEOAS? RESTFULIE?</h2>
				<h3>REST</h3>

		        <div class="depoimentoClientes">
		        	<p>REST is an architectural set of contraints defined by Roy Fielding, from which its usage results in a set of benefits and characteristcs, including higher scalability, fault tolerance, increased security and visibility amongst others: everything the web if capable of offering us, for 'free', without the need to buy or adopt an entire new software stack.</p>
		        	<em><a href="http://www.ics.uci.edu/~fielding/pubs/dissertation/top.htm">Roy Fielding dissertation</a></em>
				</div>

				<h3>HATEOAS</h3>        

		        <div class="depoimentoClientes">            	
		        <p>Roy's thesis goes further into what was later called HATEOAS and hypermedia content was understood as another constraint in order to benefit from the web's infrastructure, allowing clients and servers to evolve in a even more loosely coupled way. Hypermedia as the Engine of Application State explained briefly means that hypermedia should guide your client through your server processes. Your client is still aware of what his aim is, but he does not know how to get there.</p>
		        	<em><a href="http://jim.webber.name/">Jim Webber</a>,<br/> <a href="http://iansrobinson.com/">Ian Robinson</a>,<br/> <a href="http://savas.me/">Savas Parastatidis</a>.</em>                 
		        </div><!-- depoimento -->

				<h3>Restfulie</h3>        

		        <div class="depoimentoClientes">            	
		        <p>Based on their upcoming book, <a href="http://www.caelumobjects.com">Caelum Objects</a> created <a href="http://www.caelumobjects.com/restfulie">Restfulie</a> to be one of the first hypermedia-centric frameworks available. It's focuses on hypermedia aware media types allows the benefits from HATEOAS when trying to allow both <b>servers</b> and <b>clients</b> to benefit from a Restful(ie) architecture. </p>
		        	<em>Guilherme Silveira and Caue Guerra<br /> from <a href="http://www.caelumobjects.com">Caelum Objects</a> and <a href="http://www.caelum.com.br">Caelum Ensino e Inovação</a>.</em> 
		        </div><!-- depoimento -->

		        <div class="depoimentoClientes">            	
		        <p>The client code that uses a HATEOAS based system is thought to be the most difficult part to implement. Restfulie provides a client API that focuses on leveraging from HATEOAS benefits by making full use of dynamic bytecode generation (java) or class/object manipulation (ruby on rails).</p>
		        	<em>What about the client?</em>                 
		        </div><!-- depoimento -->


		<br/>                             
		    </div><!-- contentBeneficios -->
</div><!-- content wrap-->