<div id="contentWrap">
	<!--<ul id="subMenu"><a href="#beneficios">Beneficios</a></li><li>|</li><a href="#depoimentos">Depoimentos</a></li></ul>-->          <div id="contentBeneficios">                                                                                                                                          
		<a rel="nofollow" name="depoimentos"></a>
        <h2>Documentation and Help</h2>

		<h3>The human touch</h3>

        <div class="depoimentoClientes">
        	<p><a href="http://groups.google.com/group/restfulie">restfulie mailing list</a> at google groups</p>
        	<p><a href="http://groups.google.com/group/restfulie-dev">restfulie dev mailing list</a> at google groups</p>
        	<em>mailing list</em>                
        </div>

        <div class="depoimentoClientes">
        	<p><a href="http://github.com/caelum/restfulie">ruby server and client</a><br/>
        	<a href="http://github.com/caelum/restfulie-java">restfulie java client</a> | 
        	<a href="http://github.com/caelum/vraptor">vraptor java server</a><br/>
        	<a href="http://github.com/mauricioaniche/restfulie.net">.net server</a> | 
        	<a href="http://github.com/caelum/restfulie-net">.net client</a><br/>
        	<a href="http://github.com/caelum/restfulie-javascript">javascript client</a><br/>
        	<a href="http://github.com/caelum/restfulie-py">python client and server</a></p>
        	<em>github repositories</em>                
        </div>

        <div class="depoimentoClientes">
        	<p>
							Restfulie was created and is mantained by Caelum, with contributions from several different developers, such as:<br/><br/>
							
							ruby:<br/>
							<a href="http://www.twitter.com/guilhermecaelum">guilherme silveira</a>, <a href="http://blog.caelumobjects.com">caelum</a><br/>
							<a href="http://www.twitter.com/caueguerra">caue guerra</a>, <a href="http://www.caelumobjects.com">caelum</a><br/>
							contributors:<br/>
							<a href="http://github.com/georgeguimaraes">George Guimaraes</a>, (<a href="http://www.abril.com.br">abril digital</a> and <a href="http://www.plataformatec.com.br">plataforma</a>)<br/>
							Fabio Akita<br/>
							Diego Carrion<br/>
							Leandro Silva<br/>
							Gavin-John Noonan<br/>
							Antonio Marques<br/>
							<a href="http://github.com/lfcipriani">Luis Cipriani</a> (<a href="http://www.abril.com.br">abril</a>)<br/>
							<a href="http://github.com/nuxlli">Everton Ribeiro</a> (<a href="http://www.abril.com.br">abril</a>)<br/>
							<a href="http://github.com/pahagon">Paulo Ahagon</a> (<a href="http://www.abril.com.br">abril</a>)<br/>
							<a href="http://github.com/elomar">Elomar França</a><br/>
							Douglas Campos<br/>
							<br/>
							
							java:<br/><br/>
							guilherme silveira, caelum<br/>
							lucas cavalcanti, <a href="http://www.caelumobjects.com">caelum</a><br/>
							<br/>
							
							c#:</br/><br/>
							Mauricio Aniche, Caelum<br/>
							Luiz Augusto, <a href="http://www.caelumobjects.com">caelum</a><br/>
							Carlos Mendonca<br/>
							<br/>
							
							javascript:</br/><br/>
						  <a href="http://twitter.com/euprogramador">Carlos Alberto</a><br/>
						Caires Vinicius<br/>
							<br/>
							
							python:<br/>
							Rodrigo Manhães<br/>
							Hugo Lopes Tavares<br/>
							Herman Caldara<br/>
							Hugo Maia<br/>
							Gustavo Rezende<br/>
							<br/>
							<br/>
							<br/>
							<br/>
							
							<br/>
							
					</p>
        	<em>team</em>                
        </div>

		<h3>Articles</h3>
        
        <div class="depoimentoClientes">
        	<p>
        		<a href="http://guilhermesilveira.wordpress.com/2009/11/03/quit-pretending-use-the-web-for-real-restfulie/">Quit pretending, use the web for real</a>, the article that originated everything</li><br/>
					<a href="http://www.infoq.com/news/2009/12/restfulie-interview">An interview with Guilherme Silveira at infoq.com</a><br/>
					<a href="http://www.infoq.com/news/2009/11/restfulie-hypermedia-services">Restfulie @ infoq</a><br/>
					<a href="http://ruby5.envylabs.com/episodes/26-episode-25-november-6-2009/stories/201-restfulie">Ruby5 podcast on Restfulie</a><br/>
					<a href="http://www.techstartups.com/2009/11/17/real-time-ruby-is-a-gem-called-restfulie/">Techstartup on restfulie</a><br/>
					<a href="http://wikis.sun.com/display/Jersey/Hypermedia+and+Client+APIs">Sun Wikis</a><br/>
        	</p>
        	<em>English articles</em>
		</div>


        <div class="depoimentoClientes">            	
        <p>
			Portuguese:<br/>
        	<a href="http://wakethedead.com.br/blog/70-restfulie">portuguese tutorial on server side support</a><br/>
			<a href="http://andersonleiteblog.wordpress.com/2009/11/23/mais-sobre-restfulie/">more on restfulie</a><br/>
			<br/>
			Chinese:<br/>
			<a href="http://www.infoq.com/cn/news/2009/11/restfulie-hypermedia-services">infoq announcement on restfulie</a><br/>
			<a href="http://www.infoq.com/cn/news/2009/11/restfulie">infoq on restfulie</a><br/>
			<a href="http://www.infoq.com/cn/news/2009/11/restfulie-interview">infoq interview with guilherme silveira</a><br/>
			<br/>
			Japanese:<br/>
			<a href="http://www.infoq.com/jn/news/2009/11/restfulie">infoq on restfulie</a><br/>
			<a href="http://www.infoq.com/jn/news/2009/11/restfulie-interview">infoq interview with guilherme silveira</a><br/>
			<a href="http://www.infoq.com/jn/news/2009/11/restfulie-hypermedia-services">infoq announcement on restfulie</a><br/>
        </p>
        	<em>Other languages</em>                 
        </div><!-- depoimento -->


<!--        <div class="depoimentoClientes">
        	<p>@jimwebber @restfulie at any event, I think that a restfulie like standardized media type manipulation is worth adding to RESTEasy.</p>
        	<em><a href="http://twitter.com/sduskis/statuses/6309892789">Solomon Duskis</a></em>                
        </div>-->

<br/>   
                       
    </div><!-- contentBeneficios -->
</div><!-- content wrap-->