        <div class="depoimentoClientes">
        	<p><a href="http://github.com/caelum/restfulie">ruby server and client</a><br/>
        	<a href="http://github.com/caelum/restfulie-java">restfulie java client</a> | 
        	<a href="http://github.com/caelum/vraptor">vraptor java server</a><br/>
        	<a href="http://github.com/mauricioaniche/restfulie.net">.net server</a> | 
        	<a href="http://github.com/caelum/restfulie-net">.net client</a><br/>
        	<a href="http://github.com/caelum/restfulie-javascript">javascript client</a><br/>
        	<a href="http://github.com/caelum/restfulie-py">python client and server</a></p>
        	<em>github repositories</em>                
        </div>

        <div class="depoimentoClientes">
        	<p>
							Restfulie was created and is mantained by Caelum, with contributions from several different developers, such as:<br/><br/>
							
							ruby:<br/>
							<a href="http://www.twitter.com/guilhermecaelum">guilherme silveira</a>, <a href="http://blog.caelumobjects.com">caelum</a><br/>
							<a href="http://www.twitter.com/caueguerra">caue guerra</a>, <a href="http://www.caelumobjects.com">caelum</a><br/>
							contributors:<br/>
							<a href="http://github.com/georgeguimaraes">George Guimaraes</a>, (<a href="http://www.abril.com.br">abril digital</a> and <a href="http://www.plataformatec.com.br">plataforma</a>)<br/>
							Fabio Akita<br/>
							Diego Carrion<br/>
							Leandro Silva<br/>
							Gavin-John Noonan<br/>
							Antonio Marques<br/>
							<a href="http://github.com/lfcipriani">Luis Cipriani</a> (<a href="http://www.abril.com.br">abril</a>)<br/>
							<a href="http://github.com/nuxlli">Everton Ribeiro</a> (<a href="http://www.abril.com.br">abril</a>)<br/>
							<a href="http://github.com/pahagon">Paulo Ahagon</a> (<a href="http://www.abril.com.br">abril</a>)<br/>
							<a href="http://github.com/elomar">Elomar França</a><br/>
							Douglas Campos<br/>
							<br/>
							
							java:<br/><br/>
							guilherme silveira, caelum<br/>
							lucas cavalcanti, <a href="http://www.caelumobjects.com">caelum</a><br/>
							<br/>
							
							c#:</br/><br/>
							Mauricio Aniche, Caelum<br/>
							Luiz Augusto, <a href="http://www.caelumobjects.com">caelum</a><br/>
							Carlos Mendonca<br/>
							<br/>
							
							javascript:</br/><br/>
						  <a href="http://twitter.com/euprogramador">Carlos Alberto</a><br/>
						Caires Vinicius<br/>
							<br/>
							
							python:<br/>
							Rodrigo Manhães<br/>
							Hugo Lopes Tavares<br/>
							Herman Caldara<br/>
							Hugo Maia<br/>
							Gustavo Rezende<br/>
