<div id="textoCapitulo">

	<%= render :partial => 'shared/simple_representation' %>

<h3>Server side</h3>

<p>This is a simple example how to make your controls available to your resource consumers. First configure your controller to respond to the media types you want to support, for example xml, json and atom:</p>

<pre>
class OrderController < ApplicationControl

	respond_to :json, :xml, :atom

	def show
		respond_with @order = Order.load(params[:id])
	end

end
</pre>

Now create a file called "show.tokamak" in the typical directory structure for view files on Rails. This file is a tokamak template that allows you to add
hypermedia controls:

<pre>
member(@order) do |member|  
  member.values do |value|
    value.id      @order.id
    value.price   @order.price
  end
  member.link "self", url_for @order
  member.link "payment", order_payment_url(@order)
end
</pre>

<h3>Client side</h3>

<p>
	If you use Restfulie to access such a resource, there will be one entry point and all it's interactions will be driven by hypermedia links:<br/><br/>
	
<pre>
# retrieves the resource through GET: the entry point
response = Restfulie.at(resource_uri).get
order = response.resource

puts "Order price is #{order.price}"

# sends a post request to create a payment
order.links.payment.follow.post { :card => 4444, :amount => order.cost}

# sends a delete request to cancel the order
order.links.self.follow.delete
</pre>
</p>

<p>This should be all. Requesting the order with the header Accept or the extension xml should get you back a hypermedia supported xml file. With the json and atom versions everything should work accordingly.
	
	By now you should be able to put your resources online and hypermedia-link them whenever they make sense. Do not forget to use hypermedia controls to notify your client the URIs to use for creating and updating content too, as with the payment example above.</p>

</div>