<div id="textoCapitulo">
	<h3>Mailing list</h3>
	
	If you are looking for help or want to contribute, let us know at the mailing list:<br/><br/>
	<a href="http://groups.google.com/group/restfulie">http://groups.google.com/group/restfulie</a>

	<h3> Sources</h3>

	You can see an entire application's source code, where both client and server side were implemented using *restfulie*:<br/>
<br/>
	<a href="http://github.com/caelum/restfulie-client">Client</a><br/>
	<a href="http://github.com/caelum/restfulie-test">Server</a><br/>

	<h3> RDoc</h3>

  		<a href="http://rdoc.info/projects/caelum/restfulie">The RDoc for the latest Restfulie code</a> is hosted on "rdoc.info".<br/>
					This documentation always reflects the HEAD of caelum's master branch and may therefore be slightly different from the latest gem release.<br/>
	<br/>
					If you want the RDoc for a particular version of Restfulie you must build it yourself:<br/>
	<br/>
	<b>gem install rdoc<br/>
	gem install restfulie<br/>
	gem server &<br/>
	open http://localhost:8808/doc_root/restfulie-0.6/rdoc</b><br/><br/>
	(You may have to change the version number in that URL)


</div>