<div id="textoCapitulo">
<h2>Hypermedia clients</h2>

<p>Hypermedia support information is scattered aroud the entire documentation as this is a hypermedia based library..</p>
	
<h2>Link header support</h2>

If your service provides a link header such as:

<pre>
Link: <http://amundsen.com/examples/mazes/2d/ten-by-ten/0:north>; rel="start"; type="application/xml"
</pre>

This header can be accessed by using the headers.link and links method:

<pre>
require 'rubygems'
require 'restfulie'

resource = Restfulie.at(uri).get
puts resource.headers.link("start").href

# following the link
another_resource = resource.headers.link("start").follow.get
</pre>
