<div id="textoCapitulo">
<h2>How-tos</h2>

<p>Here you will find a couple of examples on how to use Restfulie.<br/>
	Make sure you have installed it according to the specified process at <a href="http://github.com/caelum/restfulie">our github website</a>.</p>
