<div id="textoCapitulo">
	
	<h3>0.6</h3>
	<ul>
		<li>atom entries get a default destroy action if 'self' link exists</li>
		<li>support to is_successful?, is_informational?, is_redirection?, is_client_error? and is_server_error?</li>
		<li>features list in the webpage</li>
		<li>support to can? what method on the server side</li>
		<li>support extra headers during request</li>
		<li>fixed bug on respond_to from Hashi</li>
		<li>support to accepts and content type everywhere</li>
		<li>controller default support to update</li>
		<li>sample application matching Jim's upcoming book</li>
		<li>uses_restfulie automatically create attr_accessor :_came_from</li>
		<li>example for twitter public timeline as wrest did</li>
		<li>fix jeokkarak bug with array length and has_key?</li>
		<li>doc how to customize xml generation when using render_resource</li>
		<li>when defining a transition inside acts_as_restfulie, 't << :name' can be invoked</li>
		<li>doc on cache support</li>
		<li>render_collection method that support atom feeds</li>
		<li>custom etag support and cache_info</li>
		<li>supports unmarshalling with child elements that do not exist</li>
		<li>fixed bug: destroy was not working</li>
		<li>allows custom behavior for specific response codes</li>
		<li>remove client ActiveRecord dependency</li>
		<li>support a Logger</li>
		<li>apply license+copyright to all files (java and ruby)</li>
		<li>change hash method to another name (internal_hash)</li>
		<li>remove warning from rails mime types</li>
		<li>accept Expires header/basic local cache providers</li>
	</ul>
	
	<h3>0.5</h3>
	<ul>
		<li> extract method with links to be able to use builders for custom formats  TO DOC</li>
		<li> render_created renders a resource with 201 and its location</li>
		<li> support Restfulie.at('http://localhost:3000/cities').create(city)</li>
		<li> support Restfulie.at('http://localhost:3000/cities/5').get</li>
		<li> support Restfulie.at('http://localhost:3000/cities/5').get.web_response</li>
		<li> support Restfulie.at.accepts and Restfulie.at.as</li>
		<li> server side auto render media types according to accepts:
			    @hotel = Hotel.find(params[:id])
			    render_resource @hotel</li>
		<li> support multiple media types</li>
		<li> website</li>
		<li> render_resource working with webkit accept header</li>
		<li> atom feed support while rendering a collection</li>
		<li> atom feed should render partial or full representation</li>
		<li> generic respond_to / respond_with</li>
		<li> default show, create and delete methods for restfuliecontroller</li>
		<li> support 404 by default</li>
		<li> vendor jeokkarak</li>
		<li> migrate ruby documentation page</li>
		<li>features list in the webpage</li>
		<li> atom client</li>
	</ul>
	
	<h3> 0.4</h3>
	<ul>
<li> support to transition creation API</li>
<li> API change: use acts_as_restfulue *block* instead of defining following_transitions</li>
<li> implemented support to render_resource method</li>
<li> generate and link to rubydoc</li>
<li> automatic support to eTag on client side</li>
<li> automatic support to eTag and lastModified on server side</li>
<li> doc: etag on client and server side</li>
<li> doc: render_resource</li>
<li> json working on client and server side</li>
<li> doc: transition DSL</li>
</ul>

	<h3> 0.3</h3>
	<ul>
<li> API change: you need to invoke "acts_as_restfulie" to your models</li>
<li> implemented support to can_*** methods</li>
<li> post data through http POST body</li>
<li> no need for the *status* field if you use the following_transition approach on the server side</li>
<li> bug fixed when *status* was nil</li>
<li> lots of internal refactoring</li>
<li> lots of new documentation</li>
</ul>

	<h3> 0.2</h3>
	<ul>
<li> support to state machine configuration</li>
<li> resources must contain a status field</li>
</ul>

	<h3> 0.1</h3>
	<ul>
<li> first release</li>
</ul>
</div>