<div class="navigation">
    <ul id="nav">
      <li>
        <h4><a href="http://github.com/aslakhellesoy/cucumber/wikis">HYPERMEDIA</a></h4>
        <p><a href="http://github.com/aslakhellesoy/cucumber/wikis">why hypermedia?</a></p>
      </li>
      <li>
        <h4><a href="http://github.com/aslakhellesoy/cucumber/tree/master/examples/i18n">QUIT</a></h4>
        <p><a href="http://github.com/aslakhellesoy/cucumber/tree/master/examples/i18n">Painful maintenance?</a></p>
      </li>
      <li>
        <h4><a href="https://github.com/caelum/restfulie/wiki/Mailing-lists">Support</a></h4>
        <p><a href="https://github.com/caelum/restfulie/wiki/Mailing-lists">Mailing list</a></p>
      </li>
      <li>
        <h4><a href="http://restfulie.lighthouseapp.com">LIGHTHOUSE</a></h4>
        <p><a href="http://restfulie.lighthouseapp.com">Issue tracker</a></p>
      </li>
      <li>
        <h4><a href="http://github.com/caelum/restfulie/wiki">DOCS</a></h4>
        <p><a href="http://github.com/caelum/restfulie/wiki">Restfulie links</a></p>
      </li>
      <li>
        <h4><a href="http://webchat.freenode.net/?channels=restfulie">IRC</a></h4>
        <p><a href="http://webchat.freenode.net/?channels=restfulie">The human touch</a></p>
      </li>
    </ul>
  </div>