<div class="navigation">
    <ul id="nav">
      <li>
        <h4><a href="http://github.com/caelum/restfulie/wiki">WIKI</a></h4>
        <p><a href="http://github.com/caelum/restfulie/wiki">Detailed Documentation</a></p>
      </li>
      <li>
        <h4><a href="https://github.com/caelum/restfulie/wiki/Videos">VIDEO</a></h4>
        <p><a href="https://github.com/caelum/restfulie/wiki/Videos">Tutorials</a></p>
      </li>
      <li>
        <h4><a href="https://github.com/caelum/restfulie/wiki/Mailing-lists">SUPPORT</a></h4>
        <p><a href="https://github.com/caelum/restfulie/wiki/Mailing-lists">Mailing list</a></p>
      </li>
      <li>
        <h4><a href="https://github.com/caelum/restfulie/wiki/issues">ISSUES</a></h4>
        <p><a href="https://github.com/caelum/restfulie/wiki/issues">Issue tracker</a></p>
      </li>
      <li>
        <h4><a href="http://webchat.freenode.net/?channels=restfulie">IRC</a></h4>
        <p><a href="http://webchat.freenode.net/?channels=restfulie">The human touch</a></p>
      </li>
    </ul>
  </div>