<div class="navigation">
    <ul id="nav">
      <li>
        <h4><a href="http://github.com/aslakhellesoy/cucumber/wikis">HYPERMEDIA</a></h4>
        <p><a href="http://github.com/aslakhellesoy/cucumber/wikis">why hypermedia?</a></p>
      </li>
      <li>
        <h4><a href="http://github.com/aslakhellesoy/cucumber/tree/master/examples/i18n">QUIT</a></h4>
        <p><a href="http://github.com/aslakhellesoy/cucumber/tree/master/examples/i18n">Painful maintenance?</a></p>
      </li>
      <li>
        <h4><a href="http://wiki.github.com/aslakhellesoy/cucumber/tutorials-and-related-blog-posts">FEATURES</a></h4>
        <p><a href="http://wiki.github.com/aslakhellesoy/cucumber/tutorials-and-related-blog-posts">Feature set</a></p>
      </li>
      <li>
        <h4><a href="http://rspec.lighthouseapp.com/projects/16211-cucumber/overview">LIGHTHOUSE</a></h4>
        <p><a href="http://rspec.lighthouseapp.com/projects/16211-cucumber/overview">Issue tracker</a></p>
      </li>
      <li>
        <h4><a href="http://groups.google.com/group/cukes">DOCS</a></h4>
        <p><a href="http://groups.google.com/group/cukes">Restfulie links</a></p>
      </li>
      <li>
        <h4><a href="http://webchat.freenode.net/?channels=cucumber">SUPPORT</a></h4>
        <p><a href="http://webchat.freenode.net/?channels=cucumber">The human touch</a></p>
      </li>
    </ul>
  </div>