<div id="textoCapitulo">
<h2>Installing</h2>

<p>In order to use Restfulie C# in your application, first <a href="http://code.google.com/p/restfulie/downloads/list">download it</a> and add the <strong>dll</strong> file to your project.</p>

<p>You are ready to go!</p>

</div>