<div id="textoCapitulo">
	
	<h2>What is new</h2>
	
	<h3>0.4</h3>
	<h4>Client</h4>			
		<ul>
			<li>supports get entry point</li>
			<li>supports XML media type</li>
			<li>follows links</li>
			<li>accesses web and response headers</li>
		</ul>	
</div>